body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.header,
.footer {
    background: #495e57;
    color: white;
    padding: 1rem;
}

form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

input,
select,
button {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

span {
    color: red;
    font-size: 0.8rem;
}